.scroll {
  // overflow-y: scroll;
  // scroll-snap-type: y mandatory;
  // scroll-behavior: smooth;
}

.section {
  scroll-snap-align: center;

  perspective: 500px;
  height: 100vh;
}
.lastSection {
  height: 0vh;
}

div.section1 {
  box-sizing: border-box;
  background-color: var(--color-main4);
  padding: 70px 10vw 0 10vw;
  height: 100vh;

  display: flex;

  .screenshots {
    height: 100%;
    width: 60%;

    display: flex;
    align-items: center;
    justify-content: space-around;

    .screen {
      position: relative;
      height: 70%;
      width: auto;
      aspect-ratio: 1080 / 2280;

      border: solid black;

      &:first-child {
        position: absolute;
        border: solid red;
      }
    }
  }

  p {
    padding: 0;
    margin: 0;
  }

  .text {
    width: 30%;
    margin: auto 0 auto 10px;

    p:first-child {
      font-size: 50px;
      font-weight: 900;
    }
    p:last-of-type {
      font-size: 30px;
      font-weight: 600;
    }
  }
}

.downloadBtns {
  margin: 30px 0;
  width: 550px;
  display: flex;
  justify-content: space-between;

  .google-btn {
    position: relative;
    height: 100px;
    width: auto;
    aspect-ratio: 646 / 250;
    display: block;
  }
}

.service {
  box-sizing: border-box;
  background-color: var(--color-grey1);
  padding: 70px 10vw 0 10vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  scroll-snap-align: center;
  perspective: 500px;

  .text-container {
    width: 50%;
    height: 60%;
  }

  .image-container {
    width: auto;
    height: 80%;
    aspect-ratio: 9 / 16;
    position: relative;
    max-height: 90vh;
    overflow: hidden;

    position: relative;
    z-index: 3;
    background: white;
    overflow: hidden;
    display: block;
    border-radius: 1px;
    -webkit-box-shadow: 0 0 0 3px #111;
    box-shadow: 0 0 0 3px #111;

    width: auto;
    height: 700px;
    aspect-ratio: 9 / 17;
    background: black;
    border-radius: 34px;
    padding: 45px 10px;

    .screen {
      width: 100%;
      position: relative;
      height: 100%;
      z-index: 3;
      background: white;
      overflow: hidden;
      display: block;
      border-radius: 1px;
      -webkit-box-shadow: 0 0 0 3px #111;
      box-shadow: 0 0 0 3px #111;

      border-radius: 14px;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
}
