.nav-container {
  height: 70px;
  background-color: #f4f7fab3; // opacity 70%
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  padding: 0 20vw;
  margin-bottom: 12px;
}

.nav-icon {
  height: 100%;

  * {
    position: relative;
    margin: auto 0;
  }
}

.nav-items {
  text-align: center;
  display: block;

  ul,
  li {
    list-style: none;
    display: inline-block;
    padding-inline-start: 0;
  }
  & > ul {
    padding: 0;
    margin: 0;
    display: flex;
  }
  .nav-item {
    margin: 0 80px 0 0;
    opacity: 0.5;
    transition: all 0.4s ease;
    &:last-child {
      margin-right: 10px;
    }
    & > a:hover {
      opacity: 0.7;
    }
    a {
      text-decoration: none;
      color: var(--color-grey7);
      text-transform: uppercase;
      display: block;
      font-weight: 700;
      letter-spacing: 0.05em;
      font-size: 20px;
      height: 100%;
    }
    &.active .main-item {
      opacity: 1;
    }
    .line {
      box-sizing: content-box;
      position: relative;
      width: inherit;
      padding: 0 5px;
      height: 2px;
      left: -5px;
      background: var(--color-point2);
      animation: slide 0.3s forwards;
    }
  }
}

.nav-item:hover > .dropdown,
.dropdown:hover {
  // visibility: visible;
  // opacity: 1 !important;
  display: block;
  // text-align: left;
  // box-shadow: 0px 3px 5px -1px #ccc;
  // margin: 0 0 0 -10px;
  // padding: 10px 0 0 0;
}

// dropdown
.dropdown {
  // visibility: hidden;
  opacity: 1;
  position: absolute;
  display: block;
  background: white;
  width: 150px;

  // & > li {
  //   opacity: 1;
  //   width: 100%;
  //   text-align: center;
  //   margin-bottom: 10px;
  //   border-style: none;

  //   &:hover {
  //     padding-left: 10px;
  //     border-left: 2px solid #3ca0e7;
  //     transition: all 0.3s ease;
  //   }
  //   & > a {
  //     opacity: 1;
  //     text-decoration: none;
  //     // color: var(--color-grey7);
  //     color: red;
  //     display: block;
  //     font-weight: 400;
  //     // letter-spacing: 0.05em;
  //     font-size: 18px;
  //     height: 100%;
  //   }
  // }
}

@keyframes slide {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@media screen and (max-width: 1023px) {
  .nav-container {
    padding: 0 5vw;
  }
}
